@charset 'UTF-8';
@media all {
    *{
        margin: auto;
        padding: 0;
    }
    li{
        background-color: darkgray;
        padding: 7px;
        text-align: center;
        border-top: 2px solid lightgray;
    }
    li:hover{
        background-color: black;
    }
    a{
        text-decoration: none;
        color: white;
    }
    menu{
        display: none;
    }
    #burger{
        background-color: rgba(128, 128, 128, 0.402);
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }
    #burger:hover{
        background-color: white;
        color: black;
    }
    header{
        background-color: rgba(169, 169, 169, 0.763);
    }
    header>h1{
        text-align: center;
        padding: 30px;
    }
    main{
        width: 600px;
        background-color: lightgray;
        border-radius: 4px;
        margin-top: 10px;
    }
    article{
        padding: 18px;
    }
    article>p{
        text-align: justify;
    }
}